header {
    max-width: var(--container-width);
    color: var(--primary-color);
    min-height: 80px;
    margin: 0 auto;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
}

nav ul li a {
    color: var(--primary-color);
    transition: all .2s ease;
}

nav ul li:hover a {
    --shadow-color: rgba(0, 0, 0, 0.150);

    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 17px;
    box-shadow: 0 0 5px 10px var(--shadow-color);
}

@media(max-width: 415px) {
    header {
        justify-content: center;
        gap: 10px;
    }

    nav ul {
        justify-content: center;
        align-items: center;
    }
}
