version: '3'

services:
  nest-backend:
    

  postgres-compose:
    image: postgres
    volumes:
      - /var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "postgresql"
      POSTGRES_HOST: "localhost"
    networks:
      - postgres-compose-network
    restart: always

  pgadmin-compose:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "example@example.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin1234"
    ports:
      - "16543:80"
    depends_on:
      - postgres-compose
    networks:
      - postgres-compose-network
networks:
  postgres-compose-network:
    driver: bridge
