header {
    max-width: var(--container-width);
    min-height: 80px;
    margin: 0 auto;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    height: 100%;
}

nav ul li:hover a {
    color: var(--primary-color);
    transition: all .2s ease;
}
