.feed-header {
    max-width: var(--container-width);
    text-align: center;
    margin-bottom: 44px;
}

.container {
    max-width: var(--container-width);
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: .9rem;
}

.feed-card {
    --bg-color: #413846;
    min-width: 30%;
    min-height: 40px;
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    padding: 10px;
    text-align: center;
    transition: min-width .2s ease, box-shadow .2s ease;
}

.feed-card:hover {
    min-width: 35%;
    box-shadow: 0 0 15px 5px #00000045;
}

.feed-title {
    margin-bottom: .2rem;
}

.feed-autor {
    display: flex;
    flex-wrap: wrap;
    margin-top: .9rem;
    justify-content: space-evenly;
}
