.container {
    min-height: 7rem;
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    padding: .5rem;

}

.container p:hover {
    color: var(--primary-color);
    cursor: default;
}
