@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #DA4167;
  --secondary-color: #fdc500;

  --text-color: #F0EFF4;
  --bg-color: #342e37;

  --container-width: 1266px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color)
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  max-width: var(--container-width);
  margin: 0 auto;
}

main {
  min-height: 80vh;
}

/* <===> SCROLLBAR <===> */
/* width */
::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #da416745;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* <===> INICIO <===> */
.container {
  margin-top: 7rem;
  text-align: center;
}

.vantagens {
  width: 40rem;
  height: 15rem;
  margin: 3rem auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  border-radius: 1.5rem;
}

.vantagem-card {
  height: 100%;
  min-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.vantagem-card img {
  object-fit: cover;
  width: 8rem;
  filter: invert(30%) sepia(73%) saturate(1892%) hue-rotate(321deg) brightness(94%) contrast(81%);
}

.vantagem-card h3 {
  font-size: 1.3rem;
  margin: 1rem;
}
