@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #DA4167;
  --secondary-color: #fdc500;

  --text-color: #F0EFF4;
  --bg-color: #342e37;

  --container-width: 1266px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color)
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  max-width: var(--container-width);
  margin: 0 auto;
  scroll-behavior: smooth;
}

main {
  min-height: 80vh;
}

/* <===> SCROLLBAR <===> */
/* width */
::-webkit-scrollbar {
  width: .7rem;
  height: .7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #da416745;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}
